$lightgrey: #E6E6E6;
$darkgrey: #4A4A4A;
$blue: #39C2D7;

$fontSizeLarge: 26px;
$fontSize: 16px;
$fontFamilyDefault: 'Oswald';
$fontFamilySecondary: 'Lato';

$headerHeight: 80px;
$buttonHeight: 50px;
$inputHeight: $buttonHeight;
$inputWidth: 150px;

$borderRadius: 3px;

@mixin buttonProperties($bGroundColor, $brdRadius, $brdWidth, $fColor, $fFamily, $fSize, $height, $width) {
  background-color: $bGroundColor;
  border: {
    radius: $brdRadius;
    width: $brdWidth;
  };
  color: $fColor;
  font: {
    family: $fFamily;
    size: $fSize;
  };
  height: $height;
  width: $width;
  &:hover {cursor: pointer;}
}

html {
  margin: 0px;

  body {
    margin: auto;
  }

  .mainHeader {
    background-color: $lightgrey;
    height: $headerHeight;
    font-size: $fontSize;
    font-family: $fontFamilyDefault;
    margin: 0px;
    padding: 0px;
    display: flex;
    border-bottom: 1px solid $darkgrey;

    h1 {
      font-size: $fontSizeLarge;
      color: $darkgrey;
      margin: 0px;
      text-transform: uppercase;
    }

    .logo {
      padding-top: 25px;
      padding-left: 20px;
      order: 1;
    }

    .title {
      order: 2;
      padding-top: 21px;
      padding-left: 20px;
    }

    .navbar {
      color: $darkgrey;
      font-family: $fontFamilySecondary;
      position: absolute;
      padding-right: 25px;
      right: 20px;
      top: 28px;

      a, a:visited {
        color: $darkgrey;
        text-decoration: none;
        margin-left: 30px;
      }
    }
  }
}


.frontpage, .register, .login, {
  justify-content: center;
  left: 50%;
  position: fixed;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .button, .registerButton, .loginButton, .submitButton {
    @include buttonProperties($blue, $borderRadius, 0px, white, $fontFamilyDefault, $fontSize, $buttonHeight, $inputWidth);
  }
}

.register, .login {
  width: 500px;

  .error-msg-container {
    background-color: #ED4040;
    border-radius: $borderRadius;
    margin: 0px 20px 10px 20px;
    height: 50px;
    width: 460px;

    .error-msg {
      color: white;
      font-family: $fontFamilyDefault;
      padding-top: 10px;
    }
  }

  input {
    border: {
      radius: $borderRadius;
      color: $blue;
      style: solid;
      width: 1px;
    };
    font-size: $fontSize;
    height: $inputHeight;
    margin: 10px;
    padding-left: 10px;
    width: 450px;
  }

  .submitButton {
    text-align: center;
    margin-left: 30px;
  }

  .formlinks {
    font-family: $fontFamilyDefault;
    margin-left: 30px;
  }

  a, a:visited {
    color: $blue;
    text-decoration: none;
  }
}

.frontpage {
  font-style: $fontFamilyDefault;
  display: flex;

  .registerButton {
    order: 1;
  }

  .middle {
    color: $darkgrey;
    font: {
      style: $fontFamilyDefault;
      size: 18px;
    };
    order: 2;
    padding: 15px 30px;
  }

  .loginButton {
    order: 3;
  }
}

.welcome-page {
  background: {
    image: url('https://www.epam.com/content/dam/epam/careers/locations/Hungary_A-Spot.jpg.transform/resize_w_1200/image.jpg');
    size: cover;
    repeat: no-repeat;
  };
  height: calc(100vh - 81px);
  width: 100%;

  .msg-container {
    color: white;
    font: {
      family: $fontFamilyDefault;
      size: $fontSizeLarge;
    };
    left: 20%;
    position: absolute;
    top: 25%;
  }

  .email {
    font-family: $fontFamilySecondary;
    margin: 0px 0px 15px;
  }

  .greeting {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 15px 0px 0px;
  }
}

.userListTable {
  border-collapse: collapse;
  font-family: $fontFamilySecondary;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  min-width: 500px;

  th {
    border-bottom: 1px solid $darkgrey;
    padding: 0px;
    padding-bottom: 10px;
  }

  td {
    padding-top: 10px;
  }

  .userEmail, .tableHeadEmail {
    color: $darkgrey;
    text-align: left;
  }

  .userStatus, .tableHeadRole {
    color: $darkgrey;
    font-size: $fontSize;
    text-align: right;
  }

  .userStatus {
    color:  $blue;
  }

  .pen {
    visibility: hidden;;
  }

  tr:hover .pen {
    visibility: visible;
  }
}
