<div class="register" ng-controller="RegisterCtrl">
  <form class="registerForm" ng-submit="addUser()">
    <div ng-show="Error" class="error-msg-container"><p class="error-msg">{{Error}}</p></div>
    <input type="email" placeholder="Type your email address" ng-model="email" required>
    <input type="password" placeholder="Pick a password" ng-model="password" required>
    <button class="submitButton" type="submit"> REGISTER </button>
    <p class="formlinks"><a ui-sref="login"> Log in </a></p>
  </form>
</div>
